.questions-container {
  margin: 50px 35px;
}
.questions-container span {
  font-weight: 500;
}
.questions-container p {
  line-height: 30px;
}
.questions-container h2,
h4 {
  margin: 15px 0;
}

@media (max-width: 576px) {
  .questions-container {
    margin: 40px 15px;
  }
}
